.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

#header {
  grid-area: header;
  padding: 2rem 2rem 0rem;
  text-align: center;
  position: relative;
}

#main {
  grid-area: content;
  text-align: center;
}

#footer {
  grid-area: footer;
  padding: 2rem 2rem 1rem;
  text-align: center;
}

ul.result-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
}