@import './variables.css';

#container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
  hyphens: auto;
}
#main { grid-area: main; } 
#footer { grid-area: footer; }
#header { grid-area: header; }

#header {
  background: #D7F4EC;
  color: #81AA9F;
  padding: .5rem;
  h1 {
    font-size: 1.5rem;
  }
}
#main {
  width: 80%;
  margin: 0 auto;
  button {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    margin-top: 1rem;
    outline: 0;
    padding: .7rem;
    width: 100%;
    box-sizing: border-box; 
    background-color: #D7F4EC;
    color:#8a97a0;
    box-shadow: 0 .2rem 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 1.5rem;
    &:disabled {
      background-color: #e8eeef;
    }
  }
  .filter {
    display: flex;
    button {
      margin: .5rem;
    }
  }
}

.loading {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  z-index: 100;
}

#footer {
  background: #81AA9F;
  color: #D7F4EC;
  text-align: center;
  padding: .5rem;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      margin: .3rem .5rem;
      a {
        color: #D7F4EC;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.results-string,
.page-string {
  text-align: center;
}

.filter {
  margin-bottom: 1rem;
}

@media (min-width: 400px) {
  #header {
    h1 {
      text-align: center;
      font-size: 2.5rem;
    }
  }
}